/***

==================================================================
    Pricing Section
==================================================================

***/

.pricing-section{
    position: relative;
    overflow: hidden;
    padding: 120px 0 70px;
    .content-column {
        position: relative;
        .inner-column {
            position: relative;
            padding-right: 70px;
        }
        .sec-title {
            margin-bottom: 30px;
        }
        .info-box {
            position: relative;
            z-index: 9;
            padding-left: 90px;
            margin-bottom: 40px;
            .icon {
                @include absolute;
                @include flex-center;
                height: 58px;
                width: 58px;
                color: var(--theme-color1);
                background-color: var(--bg-theme-color2);
                border-radius: 50%;
            }

            .title {
                color: var(--theme-color1);
                margin-bottom: 20px;
            }

            .text {
                letter-spacing: .01em;
                transition: all 300ms ease;
            }
        }
    }

    .pricing-column{
        position: relative;
        .inner-column{
            position: relative;
            margin-left: -30px;
            display: flex;
            align-items: center;
        }
    }
}

.pricing-block {
    position: relative;
    margin-bottom: 40px;
    z-index: 2;
    transition: all 300ms ease;
    &.pull-left {
        margin-left: -70px;
        z-index: 1;
    }
    .inner-box {
        position: relative;
        padding: 58px 60px 60px;
        background-color: var(--bg-theme-color1);
        text-align: center;
        transition: all 300ms ease;
        max-width: 370px;
        width: 100%;
        &:before{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 286px;
            height: 271px;
            opacity: 0.5;
            background-image: url(../images/icons/dotted-map-3.png);
            content: "";
        }
        &:hover{
            .image img{
                transform: rotate(180deg) scale(-1);
            }
        }
    }
    .image {
        position: relative;
        margin-bottom: 15px;
        img{
            transition: all 300ms ease;
        }
    }
    .price-box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255,255,255, .20);
        margin-bottom: 25px;
        .price {
            display: block;
            font-size: 46px;
            line-height: 1em;
            font-weight: 700;
            color: #fff;
            sup {
                font-size: 60%;
            }
        }
        .validaty {
            position: relative;
            font-size: 12px;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: .1em; 
            margin-left: 2px;
            top: 3px;
        }
    }
    .title {
        position: relative;
        display: block;
        line-height: 1.2em;
        color: var(--theme-color2);
        font-weight: 700;
        margin-bottom: 30px;
    }
    .features {
        position: relative;
        margin-bottom: 35px;
        li {
            position: relative;
            display: block;
            font-size: 16px;
            line-height: 26px;
            color: #8c8f94;
            font-weight: 400;
            margin-bottom: 10px;
        }
    }
    .btn-box {
        position: relative;
    }

    &.style-two{
        .inner-box{
            background-color: #fff;
            box-shadow: 0 10px 60px rgba(0,0,0, .07);
            padding: 38px 60px 40px;
            &:before{
                opacity: 0.4;
            }
        }
        .price-box{
            border-bottom: 1px solid #e6e8ed;
            .validaty,
            .price{
                color: var(--theme-color1);
            }
        }
        &:hover{
            margin-left: 0;
        }
        
    }
}


.pricing-block-app {
    position: relative;
    margin-bottom: 40px;
    z-index: 2;
    box-shadow: 0px 0px 40px 0px rgb(63, 63, 63, 18%);
    transition: all 300ms ease;
    &.pull-left {
        margin-left: -70px;
        z-index: 1;
    }
    .inner-box {
        position: relative;
        padding: 58px 60px 60px;
        background-color: var(--bg-theme-color1);
        text-align: center;
        transition: all 300ms ease;
        max-width: 370px;
        width: 100%;
        &:before{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 286px;
            height: 271px;
            background-image: url(../images/app3/pric-bg-globe-gray.png);
            content: "";
        }
        &:hover{
            .image img{
                transform: rotate(180deg) scale(-1);
            }
        }
    }
    .image {
        position: relative;
        margin-bottom: 20px;
        img{
            transition: all 300ms ease;
        }
        &:before{
            content: "";
            position: absolute;
            left: -60px;
            top: -7px;
            height: 100px;
            width: 6px;
            border-radius: 5px;
            background-color: var(--theme-color1);
            z-index: 1;
        }
    }
    .price-box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255,255,255, .20);
        margin-bottom: 10px;
        .price {
            display: block;
            font-size: 46px;
            line-height: 1em;
            font-weight: 700;
            color: #fff;
            sup {
                font-size: 60%;
            }
        }
        .validaty {
            position: relative;
            font-size: 12px;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: .1em; 
            margin-left: 2px;
            top: 3px;
        }
    }
    .title {
        position: relative;
        display: block;
        line-height: 1.2em;
        color: #000;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .features {
        position: relative;
        margin-bottom: 35px;
        li {
            position: relative;
            display: block;
            font-size: 16px;
            line-height: 26px;
            color: #8c8f94;
            font-weight: 400;
            margin-bottom: 10px;
        }
    }
    .btn-box {
        position: relative;
    }

    &.style-two{
        .inner-box{
            background-color: #fff;
            padding: 38px 60px 40px;
        }
        .price-box{
            
            .price{
                color: var(--theme-color1);
            }
            .validaty {                
                color: #1B1B1B;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
        &:hover{
            margin-left: 0;
        }
        
    }
}

/***

==================================================================
    Pricing Section Two
==================================================================

***/

.pricing-section-two{
    position: relative;
    overflow: hidden;
    padding: 120px 0 80px;
    background-color: var(--theme-color1);
    background-image: url(../images/icons/pattern-tm-4.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    @include media-breakpoint-down(lg){
        padding: 90px 0 50px;
        background-color: var(--theme-color-light);
    }
}

.pricing-block-two {
    position: relative;
    margin-bottom: 40px;
    z-index: 2;
    transition: all 300ms ease;
    .inner-box {
        background-color: #fff;
        box-shadow: 0px 4px 20px 0px rgba(0,0,0,.05);
        position: relative;
        padding: 38px 50px 50px;
        transition: all 300ms ease;
        width: 100%;
        overflow: hidden;
        background-image: url(../images/icons/shape-tm-13.png);
        background-repeat: no-repeat;
        background-position: 97% 94%;
        @include media-breakpoint-down(lg){
            padding: 38px 20px 50px;
        }
        &:hover{
            transform: translateY(-15px);
        }
    }    
    .title-box{
        position: relative;
        margin-bottom: 29px;
    }
    .title{
        position: relative;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 0;
        transition: all 300ms ease;
    }

    .text{
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        color: #808287;
        transition: all 300ms ease;
    }

    .price {
        position: relative;
        display: block;
        font-size: 60px;
        font-weight: 900;
        margin-bottom: 31px;
        transition: all 300ms ease;
        sup{
            color: #808287;
            font-family: var(--text-font);
            position: relative;
            top: 0;
            font-size: 16px;
            font-weight: 400;
            margin-right: 10px;
        }
        sub{
            color: #808287;
            font-family: var(--text-font);
            position: relative;
            font-size: 16px;
            line-height: 30px;
            transition: all 300ms ease;
            font-weight: 400;
            letter-spacing: .01em;
            margin-left: 7px;
            bottom: 0px;
        }
    }

    .sub-title{
        font-weight: 500;
        position: relative;
        color: var(--theme-color2);
        margin-bottom: 16px;
        transition: all 300ms ease;
    }

    .features {
        position: relative;
        margin-bottom: 24px;
        li {
            position: relative;
            display: block;
            font-size: 14px;
            line-height: 30px;
            color: #808287;
            font-weight: 500;
            padding-left: 23px;
            margin-bottom: 16px;
            transition: all 300ms ease;
            &:before{
                position: absolute;
                left: 0;
                top: 0;
                font-size: 14px;
                font-weight: 600;
                line-height: 30px;
                color: #808287;
                content: "\f101";
                font-family: 'Font Awesome 5 Free';
                transition: all 300ms ease;
            }
            &.false{
                opacity: .5;
            }
        }
    }

    .theme-btn{
        line-height: 24px;
        padding: 18px 49px;
        font-size: 16px;
        letter-spacing: 0;
        font-weight: 700;
        text-transform: capitalize;
    }

    &.tagged{
        .inner-box{
            background-color: #23252a;
            &:before{
                opacity: 1;
                top: 0;
            }
        }
        .features li,
        .features li:before,
        .price,
        .price sub,
        .text,
        .title{
            color: #fff;
        }
        .title-box{
            border-bottom: 1px solid #5d5d5d;
        }
    }
}