/*** 

====================================================================
    Services Section
====================================================================

***/

.services-section {
    position: relative;
    padding: 120px 0 90px;
    z-index: 1;
}

.service-block {
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
    .inner-box {
        position: relative;
        background-color: #ffffff;
        padding: 15px;
        border: 1px solid #e6e8ed;
        transition: all 300ms ease;
        &:hover {
            box-shadow: 0 10px 60px rgba(0, 0, 0, .07);
            .image-box img{
                transform: scale(1.1);
            }
            .image-box .image:after {
                left: 0;
                right: 0;
                opacity: 0;
            }
        }
    }
    .image-box {
        position: relative;
        .image {
            overflow: hidden;
            margin-bottom: 0;
            img {
                width: 100%;
                transition: all 300ms ease;
            }
            &:after {
                background: rgba(255, 255, 255, .3);
                bottom: 0;
                content: "";
                left: 50%;
                position: absolute;
                right: 51%;
                top: 0;
                opacity: 1;
                pointer-events: none;
                transition: all 400ms linear;
            }
        }
        .icon-box{
            position: absolute;
            left: 25px;
            bottom: -10px;
            height: 90px;
            width: 90px;
            background: var(--bg-theme-color2);
            color: var(--theme-color-light);
            @include flex-center;
            font-size: 58px;
            transition: all 300ms ease;
            &:before{
                position: absolute;
                bottom: 0;
                left: -10px;
                border-right: 10px solid var(--border-theme-color2);
                border-bottom: 10px solid transparent;
                content: "";
            }
            &:after {
                position: absolute;
                bottom: 0;
                right: -10px;
                border-left: 10px solid var(--border-theme-color2);
                border-bottom: 10px solid transparent;
                content: "";
            }
        }
    }
    .content-box {
        position: relative;
        padding: 35px 25px 15px;
        .title{
            margin-bottom: 14px;
            &:hover{
                color: var(--theme-color2);
            }
        }
        .text {
            position: relative;
            margin-bottom: 0;
        }
        .read-more {
            font-size: 12px;
            line-height: 30px;
            color: #808287;
            font-weight: 700;
            text-transform: uppercase;
            display: flex;
            letter-spacing: .1em;
            transition: all 100ms linear;
            margin-top: 15px;
            i {
                margin-left: 10px;
                color: var(--theme-color2);
                font-size: 16px;
                transition: all 100ms linear;
            }
            &:hover{
                color: var(--theme-color2);
                i{
                    transform: translateX(-15px);
                    opacity: 0;
                }
            }
        }
    }
    
}

/***

====================================================================
    Services Section Two
====================================================================

***/

.services-section-two{
    position: relative;
    padding: 120px 0 70px;
    background-color: var(--bg-theme-color1);
    z-index: 1;
    &:before {
        @include overlay;
        @include background;
        background-image: url(../images/icons/pattern-10.jpg);
        content: "";
    }

    .title-column{
        position: relative;
        margin-bottom: 50px;
        .sec-title{
            margin-bottom: 0;
            .theme-btn{
                margin-top: 40px;
            }
        }
    }

    .services-column{
        position: relative;
        margin-bottom: 50px;
    }
}

.service-block-two {
    position: relative;
    .inner-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 40px 20px;
        text-align: center;
        background-color: var(--bg-theme-color1);
        transition: all 300ms ease;
        &:hover {
            color: var(--bg-theme-color1);
            background-color: var(--bg-theme-color2);
            .title{
                color: var(--theme-color1);
            }
            .icon{
                color: #ffffff;
            }
        }
        min-height: 290px;
        .icon{
            position: relative;
            @include flex-center;
            height: 75px;
            width: 75px;
            font-size: 34px;;
            background-color: #2c2e33;
            color: var(--theme-color2);
            border-radius: 50%;
            margin-bottom: 30px;
            transition: all 300ms ease;
        }
        .title{
            color: #ffffff;
            margin-bottom: 0;
            &:hover{
                color: var(--theme-color2);
                transition: all 300ms ease; 
            };
        }
    }
}

/*** 

====================================================================
    Services Section Three
====================================================================

***/

.services-section-three{
    position: relative;
    padding: 120px 0 90px;
    z-index: 2;
    @include media-breakpoint-down(lg){
        padding: 90px 0 60px;
    }
    &:after {
        position: absolute;
        right: 0;
        top: 0px;
        height: 390px;
        width: 410px;
        border-radius: 0 0 0 500px;
        background-color: var(--bg-theme-color3);
        content: "";
        z-index: -1;
    }
    .outer-box{
        margin-left: -30px;
        margin-right: -30px;
        @include media-breakpoint-down(xxl){
            margin-left: 0;
            margin-right: 0;
        }
    }
    .sec-title{
        margin-bottom: 50px;
    }
}

.service-block-three{
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
    .inner-box {
        position: relative;
        overflow: hidden;
        height: 100%;
        padding: 25px 25px 25px;
        background-color: var(--bg-theme-color1);
        @include background;
        text-align: center;
        min-height: 280px;
        box-shadow: 0 10px 60px rgba(0, 0, 0, .07);
        transition: all 300ms ease;
        border-top: 6px solid var(--border-theme-color2);
        &:before {
            @include overlay;
            background-color: #ffffff;
            content: "";
            transition: all 300ms linear;
        }
        &:hover {
            transform: translateY(-10px);
            &:before {
                height: 0;
            }
            .icon{
                color: var(--text-color-bg-theme-color2);
                background-color: var(--bg-theme-color2);
                transition-delay: 150ms;
            }
            .title {
                color: #ffffff;
            }
            .text{
                color: #8c8f94;
            }
        }
    }
    .icon {
        position: relative;
        @include flex-center;
        height: 100px;
        width: 100px;;
        font-size: 64px;
        color: var(--theme-color2);
        font-weight: 900;
        line-height: 64px;
        background-color: rgba(var(--theme-color2-rgb), .1);
        border-radius: 50%;
        margin:0 auto 15px;
        transition: all 200ms linear;
    }

    .title {
        margin-bottom: 10px;
        line-height: 1.2em;
        &:hover {
            color: var(--theme-color1);
        }
    }
    .text{
        position: relative;
        font-size: 14px;
        line-height: 24px;
        color: #808287;
        font-weight: 500;
        transition: all 200ms linear;
    }
}

/*** 

====================================================================
    Services Section Four
====================================================================

***/

.services-section-four {
    position: relative;
    padding: 120px 0 90px;
    z-index: 1;
}

.service-block-four {
    position: relative;
    margin-bottom: 30px;
    z-index: 1;

    .inner-box {
        position: relative;
        overflow: hidden;
        height: 100%;
        padding: 40px 40px 35px;
        background-color: #ffffff;
        @include background;
        background-image: url(../images/icons/shape-1.jpg);
        box-shadow: 0 10px 30px rgba(0, 0, 0, .07);
        transition: all 300ms ease;

        &:before {
            @include overlay;
            background-repeat: no-repeat;
            background-image: url(../images/icons/icon-lines-3.png);
            background-color: #ffffff;
            content: "";
            transition: all 300ms linear;
        }

        &:hover {
            transform: translateY(-10px);
            box-shadow: none;

            &:before {
                height: 0;
            }

            .icon{
                color: var(--theme-color2);
                background-color: rgba(255, 255, 255, .1);
                border-radius: 50%;
            }

            .title,
            .title a {
                color: #ffffff;
            }

            .text {
                color: #8c8f94;
            }
        }
    }

    .icon-box {
        position: relative;
        margin-bottom: 25px;
        display: inline-block;
    }

    .icon {
        position: relative;
        @include flex-center;
        height: 100px;
        width: 100px;
        background-color: var(--bg-theme-color2);
        color: var(--theme-color1);
        font-size: 58px;
        font-weight: 900;
        transition: all 200ms linear;
    }

    .title {
        margin-bottom: 10px;

        &:hover {
            color: var(--theme-color1);
        }
    }

    .text {
        position: relative;
        font-size: 15px;
        line-height: 24px;
    }
}

/*** 

====================================================================
    Services Section Five
====================================================================

***/

.services-section-five{
    position: relative;
    padding: 120px 0 60px;
    @include background;
    z-index: 1;
    &:before{
        @include overlay;
        background-color: var(--bg-theme-color1);
        opacity: .90;
        content: "";
    }
    &:after{
        position: absolute;
        left: -200px;
        bottom: -110px;
        width: 662px;;
        height: 448px;
        background-image: url(../images/icons/shape-11.png);
        content: "";
    }
}

.service-block-five{
    position: relative;
    margin-bottom: 60px;
    z-index: 1;
    .inner-box {
        position: relative;
        padding-right: 40px;
        transition: all 300ms linear;
        &:hover{
            .icon{
                transform: rotateY(180deg);
                background-color: var(--bg-theme-color2);
                color: #fff;
            }
            .title{
                color: #fff;
            }
        }
    }

    .icon-box {
        position: relative;
        height: 135px;
        width: 135px;
        @include flex-center;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, .2);
        border-radius: 50%;
        margin-bottom: 25px;
    }
    .icon {
        position: relative;
        @include flex-center;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color:#ffffff;
        color: var(--theme-color1);
        font-size: 62px;
        font-weight: 900;
        transition: all 300ms ease;
    }
    .title {
        color: var(--theme-color2);
        margin-bottom: 25px;
        &:hover {
            color: var(--theme-color2);
        }
    }
    .text {
        position: relative;
        color: #8c8f94;
        margin-bottom: 0;
    }
}

/*** 

====================================================================
    Services Section Six
====================================================================

***/

.services-section-six {
    position: relative;
    padding: 120px 0 90px;
    z-index: 1;
    @include media-breakpoint-down(lg){
        padding: 90px 0 60px;
    }
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #0F0C1D;
        background-image: url(../images/icons/bg-shape-tm-2.png);
        content: "";
    }
}

.service-block-six {
    position: relative;
    margin-bottom: 30px;
    z-index: 1;

    .inner-box {
        position: relative;
        overflow: hidden;
        height: 100%;
        padding: 40px 40px 35px;
        border: 1px solid #4F4D5E;
        border-radius: 5px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .07);
        transition: all 300ms ease;

        &:before {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 0;
            width: 100%;
            border-radius: 5px;
            background-repeat: no-repeat;
            background-image: url(../images/icons/shape-tm-4.png);
            background-color: var(--bg-theme-color2);
            background-repeat: no-repeat;
            background-position: right bottom;
            content: "";
            transition: all 300ms linear;
        }
        &:after {
            counter-increment: my-sec-counter;
            content: counter(my-sec-counter, decimal-leading-zero) " ";
            position: absolute;
            line-height: 1;
            right: 20px;
            top: 50px;
            font-family: var(--title-font);
            font-size: 48px;
            font-weight: 700;
            color: var(--theme-color-light);
            transition: all 500ms ease;
            z-index: 1;
            opacity: 0.1;
        }

        &:hover {
            box-shadow: none;
            border-color: var(--bg-theme-color2);

            &:before {
                height: 100%;
            }
            &:after{
                
            }

            .icon{
                color: var(--text-color-bg-theme-color2);
            }

            .title,
            .title a {
                color: var(--text-color-bg-theme-color2);
            }

            .text {
                color: #8c8f94;
            }
        }
    }

    .icon-box {
        position: relative;
        margin-bottom: 25px;
        display: inline-block;
    }

    .icon {
        position: relative;
        color: var(--theme-color2);
        font-size: 64px;
        font-weight: 900;
        transition: all 200ms linear;
    }

    .title {
        color: var(--theme-color-light);
        margin-bottom: 10px;
        line-height: 30px;

        &:hover {
            color: var(--theme-color1);
        }
    }

    .text {
        position: relative;
        font-size: 15px;
        line-height: 30px;
    }
}

/*** 

====================================================================
    Services Section Seven
====================================================================

***/

.services-section-seven{
    position: relative;
    padding: 120px 0 90px;
    z-index: 2;
    @include media-breakpoint-down(lg){
        padding: 90px 0 60px;
    }
    &:before{
        @include overlay;
        @include background;
        background-color: #000c1c;
        background-image: url(../images/icons/shape-tm-14-old.jpg);
        content: "";
    }

    .title-column{
        position: relative;
        margin-bottom: 60px;
        padding-top: 42px;
        .sec-title{
            margin-bottom: 0;
        }
    }
    .image-column{
        position: relative;
        margin-bottom: 60px;
        .image-box{
            position: relative;
            padding-left: 70px;
            text-align: right;
            .image{
                position: relative;
                margin-bottom: 0;
                &:before{
                    position: absolute;
                    left: -10px;
                    top: 30px;
                    bottom: 30px;
                    background-color: var(--bg-theme-color2);
                    width: 10px;
                    content: "";
                }
                img{
                    display: block;
                }
            }
        }
    }

    &.style-two{
        background-color: var(--bg-theme-color1);
        &:before {
            background-image: url(../images/icons/pattern-22.jpg);
        }
    }
}

.service-block-seven {
    position: relative;
    margin-bottom: 30px;
    z-index: 1;

    .inner-box {
        position: relative;
        overflow: hidden;
        height: 100%;
        padding: 38px 10px 34px;
        border: 1px solid #4F4D5E;
        box-shadow: 0 10px 30px rgba(0, 0, 0, .07);
        transition: all 300ms ease;
        text-align: center;

        &:before {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 0;
            width: 100%;
            border-radius: 0;
            background-repeat: no-repeat;
            background-image: url(../images/icons/shape-tm-4.png);
            background-color: var(--bg-theme-color2);
            background-repeat: no-repeat;
            background-position: right bottom;
            content: "";
            transition: all 300ms linear;
            z-index: -1;
        }

        &:hover {
            box-shadow: none;
            border-color: var(--theme-color-light);

            &:before {
                height: 100%;
            }

            .icon{
                color: var(--text-color-bg-theme-color2);
            }

            .title,
            .title a {
                color: var(--text-color-bg-theme-color2);
            }

            .text {
                color: var(--text-color-bg-theme-color2);
            }
        }
    }

    .icon-box {
        position: relative;
        margin-bottom: 27px;
        display: inline-block;
    }

    .icon {
        position: relative;
        color: var(--theme-color-light);
        font-size: 60px;
        font-weight: 900;
        transition: all 200ms linear;
    }

    .title {
        color: var(--theme-color-light);
        margin-bottom: 10px;
        line-height: 30px;

        &:hover {
            color: var(--theme-color1);
        }
    }

    .text {
        color: #808287;
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 15px;
        position: relative;
        transition: all 300ms ease;
    }

    .read-more {
        color: var(--text-color-bg-theme-color2);
        font-weight: 700;
        i {
            font-size: 14px;
            margin-left: 4px;
        }
    }
}