/***

====================================================================
    team Section
====================================================================

***/

.team-section {
    position: relative;
    padding: 120px 0 90px;
    overflow: hidden;
    @include media-breakpoint-down(lg){
        padding: 90px 0 60px;
    }
    &:before{
        position: absolute;
        left: 0;
        top: 178px;
        height: 657px;
        width: 460px;
        @include background;
        background-image: url(../images/icons/shape-tm-11.png);
        content: "";
        @include media-breakpoint-down(xxl){
            display: none;
        }
    }

    .owl-stage-outer {
        margin-right: -375px;
        @include media-breakpoint-down(lg){
            margin-right: 0;
        }
    }

    .owl-nav {
        display: none;
    }

}

.team-block {
    position: relative;
    margin-bottom: 30px;
    .inner-box {
        position: relative;
        padding: 0 0 75px;
        &:hover{
            .image-box:after{
                height: 100%;
                opacity: 0;
                -webkit-transition: all 400ms linear;
                transition: all 400ms linear;
            }
            .info-box{
                box-shadow: 0 10px 60px rgba(0, 0, 0, .07);
                padding-bottom: 60px;
            }
            .social-links {
                bottom: 22px;
                opacity: 1;
                visibility: visible;
            }
            .image-box .image img{
                transform: scale(1.1);
            }
        }
    }
    .image-box {
        position: relative;
        .image {
            position: relative;
            overflow: hidden;
            margin-bottom: 0;
            img {
                width: 100%;
                transition: all 400ms ease;
            }
        }
        &:after {
            background: rgba(255, 255, 255, 0.3);
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 0;
            opacity: 1;
            z-index: 9;
            pointer-events: none;
        }
    }
    .info-box {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 0;
        padding: 28px 25px;
        text-align: center;
        background-color: #ffffff;
        transition: all 300ms ease;
        box-shadow: 0px 4px 20px 0px rgba(0,0,0,.05);
        .name{
            display: block;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 2px;
            &:hover{
                color: var(--theme-color2);
            }
        }
        .designation {
            font-size: 14px;
            line-height: 26px;
            color: #767676;
            font-weight: 500;
            text-transform: uppercase;    
            letter-spacing: .1em;
        }
    }
    .social-links {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        transition: all 400ms ease;
        a {
            position: relative;
            display: block;
            height: 30px;
            width: 30px;
            margin: 0 10px;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            color: #7b8391;
            transition: all 300ms ease;
            &:hover {
                color: var(--theme-color2);
            }
        }
    }
}

/***

====================================================================
    team Section Two
====================================================================

***/

.team-section-two{
    position: relative;
    padding: 120px 0 80px;
    overflow: hidden;
    @include media-breakpoint-down(lg){
        padding: 90px 0 50px;
    }
}

.team-block-two{
    position: relative;
    margin-bottom: 40px;
    .inner-box {
        position: relative;
        padding: 25px 15px 0;
        &:before{
            @include absolute;
            bottom: 120px;
            width: 100%;
            background-color: var(--bg-theme-color3);
            content: "";
        }
        &:after{
            @include absolute;
            bottom: 120px;
            width: 100%;
            background-color: var(--bg-theme-color1);
            transform: scaleY(0);
            transform-origin: top;
            content: "";
            transition: all 400ms ease;
        }
        &:hover{
            .image img {
                transform: scale(1.1);
                transform-origin: top center;
            }
            &::after{
                transform: scaleY(1);
            }
            .social-links {
                transform: scaleY(1);
                opacity: 1;
                visibility: visible;
            }
            .name{
                color: #ffffff;
            }
            .designation{
                color: #8c8f94;
            }
        }
    }
    .image-box {
        position: relative;
        .image {
            position: relative;
            overflow: hidden;
            margin-bottom: 0;
            z-index: 1;
            img {
                width: 100%;
                transition: all 400ms ease;
            }
        }
    }
    .info-box {
        position: relative;
        padding: 0 15px;
        margin-bottom: 25px;
        .name{
            z-index: 2;
            margin-bottom: 5px;
        }
        .designation {
            position: relative;
            display: block;
            color: var(--text-color);
            letter-spacing: 1px;
            z-index: 2;
            line-height: 1em;
            transition: all 400ms ease;
        }
    }
    .share-icon {
        position: absolute;
        right: 20px;
        bottom: -45px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 16px;
        color: var(--text-color-bg-theme-color2);
        background-color: var(--bg-theme-color2);
        transition: all 300ms ease;
        z-index: 3;
    }
    .social-links {
        position: absolute;
        right: 20px;
        top: 100%;
        margin-top: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--bg-theme-color2);
        transform: scaleY(0);
        transform-origin: top;
        z-index: 3;
        visibility: hidden;
        opacity: 0;
        transition: all 400ms ease;
        a {
            position: relative;
            height: 40px;
            width: 40px;
            display: block;
            font-size: 14px;
            line-height: 40px;
            text-align: center;
            color: var(--text-color-bg-theme-color2);
            transition: all 300ms ease;

            &:hover {
                color: var(--text-color-bg-theme-color1);
                background-color: var(--bg-theme-color1);
            }
        }
    }
}