/*** 

====================================================================
    Why Choose Us
====================================================================

***/

.why-choose-us{
    position: relative;
    background-color: #f4f5f8;
    .content-column{
        position: relative;
        .inner-column{
            padding-top: 120px;
            .sec-title{
                margin-bottom: 50px;
            }
        }
        .image-box{
            position: relative;
            .image{
                position: relative;
                display: inline-block;
                margin-bottom: 0;
            }
            .caption{
                position: absolute;
                left: 50px;
                bottom: 0;
                width: 100%;
                max-width: 340px;
                padding: 30px 60px 35px;
                padding-right: 50px;
                background-color: var(--bg-theme-color2);
                font-size: 18px;
                line-height: 32px;
                color: var(--theme-color1);
                font-weight: 700;
            }
        }
    }

    .image-column{
        position: relative;
        .inner-column{
            margin-right: -358px;
            margin-left: -17px;
            .image{
                margin-bottom: 0;
            }
        }
    }
}

/*** 

====================================================================
    Why Choose Us Two
====================================================================

***/

.why-choose-us-two{
    position: relative;
    padding: 120px 0 70px;
    @include media-breakpoint-down(lg){
        padding: 90px 0 40px;
    }
    &:before {
        position: absolute;
        left: 95px;
        bottom: -100;
        height: 100%;
        width: 100%;
        background-image: url(../images/icons/pattern-tm-2.png);
        background-repeat: no-repeat;
        background-position: center left;
        content: "";
        @include media-breakpoint-down(xl){
            display: none;
        }
    }

    .content-column {
        position: relative;
        margin-bottom: 50px;
        .inner-column {
            position: relative;
        }
        .info-box{
            position: relative;
            background-color: #f4f5f8;
            padding: 15px 30px;
            padding-left: 60px;
            margin-bottom: 30px;
            transition: all 300ms ease;
            &:hover{
                background-color: var(--theme-color2);
                .title {
                    color: var(--text-color-bg-theme-color2);
                }
                .icon {
                   color: var(--text-color-bg-theme-color2);
                }
            }
            .icon{
                position: absolute;
                left: 30px;
                top: 0;
                height: 60px;
                line-height: 54px;
                color: var(--theme-color2);
                transition: all 300ms ease;
            }
            .title{
                transition: all 300ms ease;
                margin-bottom: 0;
            }
        }
        .skills{
            margin-top: 20px;
            margin-bottom: 0;
            .skill-item{
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            .bar-inner .bar{
                background-color: var(--bg-theme-color2);
            }
        }
    }

    .image-column {
        position: relative;
        margin-bottom: 50px;
        .image-box {
            position: relative;
            padding-left: 100px;
            margin-right: -360px;
            @include media-breakpoint-down(xl){
                padding-left: 50px;
            }
            @include media-breakpoint-down(lg){
                padding-left: 0;
                margin-right: 0;
            }
            .image {
                position: relative;
                margin-bottom: 0;
                img{
                    width: 100%;
                }
            }
            .play-btn{
                position: absolute;
                left: 0;
                bottom: 0;
                height: 150px;
                width: 160px;
                background-color: var(--bg-theme-color1);
                @include flex-center;
                color: var(--text-color-light);
                font-size: 28px;
                transition: all 300ms ease;
                @include media-breakpoint-down(lg){
                    height: 90px;
                    width: 90px;
                }
                &:hover{
                    background-color: var(--bg-theme-color2);
                    color: var(--text-color-light);
                }
            }
        }
    }
}

/*** 

====================================================================
    Why Choose Us Three
====================================================================

***/

.why-choose-us-three{
    position: relative;
    padding: 120px 0 70px;
    overflow: hidden;
    &:before{
        position: absolute;
        top: 0;
        right: 50%;
        margin-right: 350px;
        height: 100%;
        width: 100%;
        background-color: var(--bg-theme-color2);
        background-image: url(../images/icons/pattern-19.png);
        content: "";
        background-repeat: no-repeat;
        background-position: center right;
    }
    &:after {
        position: absolute;
        right: 0;
        bottom: -90px;
        height: 480px;
        width: 480px;
        background-color: var(--bg-theme-color3);
        content: "";
        z-index: -1;
        border-radius: 1000px 0 0 0;
        animation: bounce-x 10s infinite linear;
    }

    .content-column {
        position: relative;
        margin-bottom: 50px;
        .inner-column {
            position: relative;
            .sec-title{
                margin-bottom: 25px;
            }
        }
        .info-box {
            position: relative;
            padding-left: 80px;
            margin-bottom: 30px;
            transition: all 300ms ease;
            .icon {
                position: absolute;
                left: 0;
                top: 0;
                font-size: 64px;
                line-height: 1em;
                color: var(--theme-color1);
            }

            .title {
                color: var(--theme-color2);
                font-weight: 400;
                margin-bottom: 0;
                transition: all 300ms ease;
            }
        }
        .list-style-three {
            padding-top: 45px;
            border-top: 1px solid #e6e8ed;
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            li {
                width: 50%;
                padding-right: 20px;
            }
        }
    }

    .image-column {
        position: relative;
        margin-bottom: 50px;
        .image-box {
            position: relative;
            padding-right: 90px;
            .image {
                margin-bottom: 0;
                img {
                    width: 100%;
                }
            }
        }
    }
}

/*** 

====================================================================
    Why Choose Us Four
====================================================================

***/

.why-choose-us-four{
    position: relative;
    padding: 120px 0 54px;
    overflow: hidden;
    position: relative;
    &:before {
        position: absolute;
        left: 95px;
        bottom: -50px;
        height: 100%;
        width: 100%;
        background-image: url(../images/icons/pattern-tm-2.png);
        background-repeat: no-repeat;
        background-position: center left;
        content: "";
        @media only screen and (max-width: 1699.98px) {
            display: none;
        }
    }

    .tab-column {
        .sec-title {
            margin-bottom: 49px;
        }
    }

    .content-column {
        position: relative;
        margin-bottom: 50px;
        .inner-column {
            position: relative;
            @include media-breakpoint-down(xl){
                display: flex;
            }
            @include media-breakpoint-down(lg){
                display: block;
            }
            .image-box {
                img {
                    @include media-breakpoint-down(lg){
                        width: 100%;
                    }
                }
            }
        }
        .list-style-three {
            margin-top: 25px;
            margin-right: -30px;
            @include media-breakpoint-down(xl){
                margin-right: 0;
                margin-left: 30px;
                margin-top: -10px;
            }
            @include media-breakpoint-down(lg){
                margin-top: 10px;
                margin-left: 0;
            }
            li {
                color: var(--text-color);
                display: flex;
                font-weight: 400;
                margin-bottom: 7px;
                padding-left: 0;
                &:before {
                    display: none;
                }
                .icon-image {
                    margin-right: 16px;
                }
            }
        }
        .experience {
            background: var(--theme-color2);
            color: var(--text-color-bg-theme-color2);
            max-width: 220px;
            margin-top: 24px;
            padding: 39px 40px 37px;
            position: relative;
            text-align: center;
            width: 100%;
            z-index: 1;
            float: right;
            @include media-breakpoint-down(xl){
                margin-top: 10px;
            }
            @include media-breakpoint-down(lg){
                float: left;
            }
            &:before {
                position: absolute;
                left: 5px;
                top: 10px;
                height: calc(100% - 10px);
                width: calc(100% - 11px);
                background-image: url(../images/icons/dotted-map-5.png);
                background-repeat: no-repeat;
                background-position: center center;
                content: "";
                z-index: -1;
            }
            strong {
                font-size: 48px;
                color: var(--text-color-bg-theme-color2);
                font-weight: 700;
                font-family: var(--title-font);
            }
            .text{
                font-size: 18px;
                font-weight: 700;
                color: var(--text-color-bg-theme-color2);
                padding-top: 2px;
            }
        }
    }

    .image-column {
        position: relative;
        margin-bottom: 50px;
        .image-box {
            position: relative;
            padding-right: 90px;
            .image {
                margin-bottom: 0;
                img {
                    width: 100%;
                }
            }
        }
    }
}

.tabs-two{
    position: relative;
    padding-right: 30px;
    @include media-breakpoint-down(sm){
        padding-right: 0;
    }
    .tab-buttons{
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        overflow: hidden;
        @include media-breakpoint-down(sm){
            display: block;
        }
        .tab-btn{
            border-bottom: 2px solid var(--theme-color2);
            width: 100%;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: .1px;
            color: var(--theme-color2);
            text-align: center;
            padding: 19px 30px;
            margin-right: 10px;
            font-family: var(--text-font);
            background-color: transparent;
            cursor: pointer;
            transition: all 300ms ease;
            position: relative;
            @include media-breakpoint-down(sm){
                display: block;
            }
            &:before {
                background-color: var(--bg-theme-color2);
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 0;
                width: 100%;
                transition: all 300ms ease;
                z-index: -1;
            }
            &:last-child {
                margin-right: 0;
            }
            &.active-btn{
                color: var(--text-color-bg-theme-color2);
                &:before {
                    height: 100%;
                }
            }
        }
    }
    .content-column{
        position: relative;
        .inner-column{
            > .text{
                margin-right: 8px;
            }
        }
    }
}